.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  padding: 1rem;
}

.container a:hover {
  color: #0070f3;
  cursor: pointer;
}

.link--active{
  color: #105eb8;
}